@import "../../Configs/css/variables";

.wrapper {
  background: #ad3333;
  color: #dddddd;
  padding-bottom: 4px;
}
.wrapper a {
  color: #bfbfbf;
  margin-right: 3px;
  display: inline-block;
}
.topBar {
  height: 28px;
  font-size: 12px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}

.list {
  display: flex;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin-right: 25px;
    svg  {
      margin-right: 5px;
    }
  }
}

.social {
  list-style: none;
  vertical-align: middle;
  margin-bottom: 0;
  display: flex;
  li > a, li > div > a {
    font-size: 18px;
    padding: 5px 10px;
    margin-top: 2px;
  }

  li a {
    transition: ease-in-out 300ms;
  }

  li a:hover {
    background: #3333;
    border-radius: 5px;
    .facebook {
      color: #3b5998;
    }
    .maps {
      color: #989894;
    }
  }
}

.languageSelector {
  z-index: 1021;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: -3px;
  a {
    font-size: 14px;
    color: #333
  }
  a:focus {
    color: #b13131
  }
  a.active {
    background: $brand;
    cursor: not-allowed;
    pointer-events: none;
  }
  a.active:hover {
    background-color: $brand;
  }
}

@media screen and (max-width: 768px) {
  .list li:nth-child(n+2) {
    display: none;
  }
}
