@import "../../Configs/css/_variables.scss";

.category {
  display: flex;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 70px;
  margin: 7px 0;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: ease-in-out 100ms;
  cursor: pointer;
  background: linear-gradient(#fff, #eee, #fff);
}
.stickyNav .slick-slider {
  height: 53px;
}
.product {
  background: #fff;
  display: flex;
  margin: 7px 0;
  cursor: pointer;
  user-select:none;
  flex-direction: column;
  height: 100%;
  border-left: 3px solid transparent;
  &.back {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: linear-gradient(#ffff4c, #ffdf5b, #ffd756);
    border-color: #ffdf5b;
    cursor: pointer;
    color: #983535;
    &:hover {
      background: linear-gradient(#ffdf5b, #ffd756, #ffdf5b);
      border-color: #ffd756;
    }
    svg {
      font-size: 24px;
      margin: 0 10px
    }
  }
  &:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .thumb {
    background-position: center !important;
    background-repeat: no-repeat !important;
    box-shadow: 0 0 4px 7px white inset;
    transition: ease-in-out background-position 250ms;
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
  }
}
.category:hover {
  background: linear-gradient($brand,$secondary,$brand);
  color: #fff;
  border-color: $secondary;
}
.categoryKA {
  font-family: "ALK Sanet", sans-serif;
}


.orders {
  padding: 10px 10px 0 10px;
  list-style: none;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px;
    background-color: #f2f2f2;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
  &::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }
  height: 100%;
  li:first-child {
    position: sticky;
    top:-10px;
    padding-top: 10px;
    background: #f2f2f2;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    z-index: 3;
  }
}
.orderList {
  display: flex;
  padding: 3px 6px;
}
.orderList:hover {
  background: #fff;
  transition: ease-in-out 200ms;
}
.orderImg {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.orderTitle {
  max-width: 100%;
  overflow: hidden;
  flex: 1 1 60%;
  font-size: 16px;
  font-family: "Roboto",  "ALK Sanet",  sans-serif;
}

.orderCount {
  flex: 0 1 10%;
  color: #333333;
  font-size: 12px;
  text-align: center;
  transition: all 100ms ease-in-out;
}

.orderPrice {
  flex: 0 1 20%;
  text-align: right;
  font-size: 14px;
}

.orderCount.highlight {
  transform: scale(1.3);
  font-size: 14px;
}


.inOrder .product {
  border-left: 3px solid $brand
}
.stickyNav .slick-slide {
  margin: 0 0 0 15px;
  padding: 0;
}

.stickyNav .nav-link {
  display: block;
  padding: 0.5rem 0;
}

.mobileNav {
  display: none;
}

@media screen and (min-width: 767px){
  .toggleMobile,.mobileClose {
    display: none !important;
  }

}
@media screen and (max-width: 768px) {
  .stickyNav .slick-slider { display: none}
  .mobileNav {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
  }
  .toggleMobile {
    display: block;
    composes: brand-bg from global;
    color: #fff;
    float: right;
    border-radius: 0;
    padding: 10px 15px !important;
    border-top: 0 !important;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: 0;
  }

  .orderList {
    border-bottom: #ddd 1px dashed;
    align-items: center;
  }

  .topCats {
    display: none !important;
  }

  .stickyNav .slick-slider .slick-arrow.slick-prev {
    left: -15px !important;
  }

  .stickyNav .slick-slider .slick-arrow.slick-next {
    right: 0  !important;
  }

  .orderPrice {
    flex: 0 1 10%;
    font-size: 17px;
  }

  .orderCount {
    flex: 0 1 30%;
  }

  .mobileClose {
    composes: brand-bg from global;
    color: #fff;
    font-size: 30px;
    position: fixed;
    right: 0;
    top: 10px;
    border-radius: 50% 0 0 50%;
    z-index: 4;
    padding: 0 13px;
  }
  .orders li:first-child {
    padding-bottom: 10px;
    padding-top: 0;
    top: 0;
  }

  .cart {
    height: calc(100vh - 131px) !important;
  }

  .order.open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border-top: 2px solid #ad3333;
    box-shadow: 0 0 2px #333;
    z-index: 1100;
    border-radius: 0;

    .btns {
      position: absolute;
      bottom: 15px;
      left: 0;
      width: 100%;
      display: block;
      padding: 0 15px;
    }

  }
  .orders {
    max-height: calc(100vh - 164px);
  }
  .cats {
    background: #fff;
    margin: 15px 0 15px -15px;
    padding: 15px;
    z-index: 30;
    width: calc(100% + 30px);
    border-bottom: 2px solid #ad3333;
    box-shadow: 1px 1px 1px #e0dbd8;
  }
  .order.hide {
    display: none;
  }
}

.stickyNav {
  position: sticky;
  top: 70px;
  z-index: 30;
}

.MenuList {
  box-shadow: 0 30px 20px inset #fff;
  background: #f2f2f2 ;
  border: 1px solid #ddd;
  padding: 15px;
}

.cats {
  margin: 0 0 10px;
  padding: 15px 0 0;
  border-bottom: 2px solid #f2f2f2;
  position: sticky;
  top: 80px;
  z-index: 20;
  background: #fff;
  overflow-x: auto;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: 0 6px 4px -6px #f2f2f2;
}


.order {
  position: sticky;
  top: 162px;
  bottom: 0;
  transition: cubic-bezier(0.4, 0, 1, 1) 150ms;
  border-radius: 5px;
  margin-bottom: 15px;
}

.productHeader {
  display: flex;
  .content {
    width: 100%;
    padding: 10px;
    line-height: 17px;
    font-size: 16px;
    font-weight: 500;
    max-height: 100px;
  }
  .productPrice {
    flex-basis: 120px;
    width: 100%;
    text-align: right;
    padding-right: 5px;
    font-weight: 500;
  }
}

.productItem {
  margin: 15px 0;
}
.cart {
  background: #f2f2f2;
}
.order .orderBtn {
  position: sticky;
  bottom: 20px;
  border-radius: 4px;
  margin-top: 10px;
  background: $brand;
  border-color: $secondary;
}
.orderBtn:hover {
  background: $secondary;
}
.fade:not(.show){
  display: none;
}
.total {
  background: #f2f2f2;
  border-top: 1px solid #ad3333;
  padding: 10px;
  border-radius: 0 0 4px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.totalNumber {
  font-size: 20px;
}
.fee {
  background: #f2f2f2;
  padding: 5px 10px;
  font-size: 12px;
  text-align: right;
  color: #909090;
  text-shadow: 0 -1px 1px #fff;
  position: sticky;
  bottom: 0;
}
.nav-item {
  width: auto;
  white-space: nowrap;
}
.topCats {
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: row;
  background: #fff;
  border-right: 1px solid #ddd;
  box-shadow: 3px 0 3px #fff;
}

.stickyNav .slick-list {
  margin-left: 30px;
}

.stickyNav .sliderWrapper {
  overflow: hidden;
  padding: 0;
}
.stickyNav .slick-arrow {
  height: 100%;
  width: 25px;
  z-index: 30;
  margin-top: 0;
  transition: ease-in-out 300ms;
  background: #fff;
  border-radius: 5px;
  &.slick-prev,&.slick-next {
    font-size: 14px !important;
    color: $brand;
    padding: 15px;
    &.disabled {
      border-radius: 0;
      background: #fff;
      color: #ccc;
      opacity: 1;
    }
  }
  &.slick-prev {
    left: 0 !important;
  }
  &:before {
    content: none;
    color: $brand;
  }
  &:focus {
    background: #fff;
    &:before {
      color: $brand;
    }
  }
  &:hover,&:active{
    background: #fff;
    color: $secondary
  }
}

.nav-pills .nav-link.active,.slick-current a {
  background-color: #fff !important;
  border-bottom: 2px solid $brand;
  color: $secondary;
  border-radius: 0 !important;
  padding: 10px 0;
  margin: 0 0;
}

.menu-bgWrapper {
  display: flex;
  justify-content: center;
  min-height: 160px;
}
.menu-bg {
  background: url("../../assets/images/spinner/bg.png") no-repeat;
  width: 200px;
  height: 133px;
  filter: grayscale(.6) blur(2px) opacity(0.1);
}

.menu-bg.a {
  background-position: 0 0;
}
.menu-bg.b {
  background-position: -200px 0;
}
.menu-bg.c {
  background-position: -400px 0;
}
.menu-bg.d {
  background-position: 0 -123px;
}
.menu-bg.e {
  background-position: -200px -123px;
}
.menu-bg.f {
  background-position: -400px -123px;
}
