@import "../../Configs/css/_variables.scss";

.category {
  display: flex;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 70px;
  margin: 7px 0;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: ease-in-out 100ms;
  cursor: pointer;
  background: linear-gradient(#fff, #eee, #fff);
}
.stickyNav .slick-slider {
  height: 53px;
}
.product {
  background: #fff;
  display: flex;
  margin: 7px 0;
  cursor: pointer;
  user-select:none;
  flex-direction: column;
  height: 100%;
  border-bottom: 2px solid transparent;
  border-radius: 10px 10px 0 0;
  position: relative;

  &.back {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: linear-gradient(#ffff4c, #ffdf5b, #ffd756);
    border-color: #ffdf5b;
    cursor: pointer;
    color: #983535;
    &:hover {
      background: linear-gradient(#ffdf5b, #ffd756, #ffdf5b);
      border-color: #ffd756;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    }
    svg {
      font-size: 24px;
      margin: 0 10px
    }
  }
  &:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    .thumb {
      transform: rotate(4deg) scale(1.1);
    }
  }
  transition: ease all 100ms;
  &:active{
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    transform: scale(0.990);
  }
  .thumbWrapper {
    position: relative;
    overflow: hidden;
  }
  .thumb {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-radius: 10px 10px 0 0;
    box-shadow: unset;
    width: 100%;
    height: 220px;
    transition: ease-in-out all 300ms;
    margin: 0 auto;
  }
}
.category:hover {
  background: linear-gradient($brand,$secondary,$brand);
  color: #fff;
  border-color: $secondary;
}
.categoryKA {
  font-family: "ALK Sanet", sans-serif;
}

.smallContainer {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.smallContainer::-webkit-scrollbar {
  display: none;
}

.stickyNav .nav-link {
  display: block;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0 0 0 15px;
  color: #777;
  transition: ease color 300ms;
  &:hover {
    color: #333;
  }
}

.mobileNav {
  display: none;
}

.inOrder .product {
  border-bottom: 3px solid $brand
}

@media screen and (min-width: 767px){
  .toggleMobile {
    display: none !important;
  }
}


@media screen and (max-width: 768px) {
  .product {
    &:hover {
      .thumb {
        transform: unset;
      }
    }

    &:active{
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
      transform: scale(1);
    }

  }
  .stickyNav {
    margin: 0 -15px;
  }
  .cats {
    padding: 0;
  }
  .smallContainer {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    padding: 10px 0;
  }
  .mobileElement {
    white-space: nowrap;
    display: inline;
    margin: 0 5px;
    padding: 5px 15px;
  }
  .mobileSelect {
    background: $brand;
    color:#fff;
    border-radius: 24px;
  }
  .inOrder .product {
    border-bottom: none;
  }
  .productHeader {
    display: none !important;
  }

  .productItem {
    padding: 0 10px !important;
  }

  .product {
    border-left: 0;
    border-radius: 24px;
    .thumb {
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      border-radius: 24px 24px 0 0;
      box-shadow: unset;
      width: 100%;
      height: 120px;
      margin: 0 auto 10px;
    }
  }

  .inOrder .product {
    border-left: 0;
    box-shadow: 0 0 0 2px #03a70061;
  }
  .mobileNav {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
  }
  .toggleMobile {
    display: block;
    background: #FFF;
    color: $brand;
    float: right;
    border-radius: 0;
    padding: 10px 15px !important;
    border-top: 0 !important;
    bottom: 0;
    position: sticky;
    width: calc(100% + 8px);
    left: 0;
    margin: 0 -3px;
    box-shadow: 4px -3px 8px 1px #ddd;
  }

  .toggleMobile.hidden {
    bottom: -60px;
  }

  .orderList {
    border-bottom: #ddd 1px dashed;
    align-items: center;
  }

  .topCats {
    display: none !important;
  }

  .stickyNav .slick-slider .slick-arrow.slick-prev {
    left: -15px !important;
  }

  .stickyNav .slick-slider .slick-arrow.slick-next {
    right: 0  !important;
  }



  .cart {
    height: calc(100vh - 131px) !important;
  }


  .cats {
    background: #fff;
    margin: 15px 0 15px -15px;
    z-index: 30;
    width: calc(100% + 30px);
    border-bottom: 2px solid #ad3333;
    box-shadow: 1px 1px 1px #e0dbd8;
  }
  .order.hide {
    display: none;
  }
}

.stickyNav {
  position: sticky;
  top: 80px;
  z-index: 30;
}

.MenuList {
  padding: 15px;
}

.cats {
  margin: 0 0 10px;
  border-bottom: 2px solid #f2f2f2;
  position: sticky;
  top: 55px;
  z-index: 20;
  background: #fff;
  overflow-x: auto;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: 0 6px 4px -6px #f2f2f2;
}


.order {
  position: sticky;
  top: 142px;
  bottom: 0;
  transition: cubic-bezier(0.4, 0, 1, 1) 150ms;
  border-radius: 5px;
  margin-bottom: 15px;
}
.order.open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 2px #333;
  z-index: 1000;
  border-radius: 0;

  .btns {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    display: block;
    padding: 0 15px;
  }

}

@media screen and (min-width: 992px) {
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 calc(25% + 15px);
    max-width: calc(25% + 15px);
    margin-left: -15px;
  }
}
.navElement {
  cursor: pointer;
  color: #333;
  display: inline-block;
  padding: 5px 8px;
  white-space: nowrap;
  margin: 10px;
  &.is-selected {
    background: $brand;
    color:#fff;
    border-radius: 7px;
  }
}

.slider {
  display: block;
}
.flickity-viewport {
  margin: 0 60px;
}
@media screen and (max-width: 768px){
  .MenuList {
    padding: 0;
  }
  .slider {
    display: none;
  }
  .flickity-viewport {
    margin: 0;
  }
  .flickity-button {
    display: none;
  }

  .stickyNav {
    top: 66px;
  }
}


.menuItem {
  h5 {
    margin-top: 20px;
  }
}
.productHeader {
  display: none;
  .content {
    width: 100%;
    padding: 10px;
    line-height: 17px;
    font-size: 16px;
    font-weight: 500;
    max-height: 100px;
  }
  .productPrice {
    flex-basis: 120px;
    width: 100%;
    text-align: right;
    padding-right: 5px;
    font-weight: 500;
  }
}

.mobileProductHeader {
  .content {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    max-height: 100px;
    text-align: center;
    line-height: 18px;
  }
  .productPrice {
    width: 100%;
    text-align: center;
    padding-right: 5px;
    font-weight: 500;
  }
}

.productItem {
  margin-top: 15px;
}
.cart {
  transition: ease-in-out height 300ms;
  background: #f2f2f2;
}
.order .orderBtn {
  position: sticky;
  bottom: 20px;
  border-radius: 4px;
  margin-top: 10px;
  background: $brand;
  border-color: $secondary;
}
.orderBtn:hover {
  background: $secondary;
}
.fade:not(.show){
  display: none;
}
.total {
  border-top: 1px solid #ad3333;
  padding: 10px;
  border-radius: 0 0 4px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease-in-out all 500ms;
}
.totalNumber {
  font-size: 20px;
}
.fee {
  background: #f2f2f2;
  padding: 5px 10px;
  font-size: 12px;
  text-align: right;
  color: #909090;
  text-shadow: 0 -1px 1px #fff;
  position: sticky;
  bottom: 0;
}
.nav-item {
  width: auto;
  white-space: nowrap;
}
.topCats {
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: row;
  background: #fff;
  border-right: 1px solid #ddd;
  box-shadow: 3px 0 3px #fff;
}

.stickyNav .slick-list {
  margin-left: 30px;
}

.stickyNav .sliderWrapper {
  overflow: hidden;
  padding: 0;
}
.stickyNav .slick-arrow {
  height: 100%;
  width: 25px;
  z-index: 30;
  margin-top: 0;
  transition: ease-in-out 300ms;
  background: #fff;
  border-radius: 5px;
  &.slick-prev,&.slick-next {
    font-size: 14px !important;
    color: $brand;
    padding: 15px;
    &.disabled {
      border-radius: 0;
      background: #fff;
      color: #ccc;
      opacity: 1;
    }
  }
  &.slick-prev {
    left: 0 !important;
  }
  &:before {
    content: none;
    color: $brand;
  }
  &:focus {
    background: #fff;
    &:before {
      color: $brand;
    }
  }
  &:hover,&:active{
    background: #fff;
    color: $secondary
  }
}
.menu-bgWrapper {
  display: flex;
  justify-content: center;
  min-height: 150px;
}
.menu-bg {
  background: url("../../assets/images/spinner/bg.png") no-repeat;
  width: 200px;
  height: 133px;
  filter: grayscale(.6) blur(2px) opacity(0.1);
}

.menu-bg.a {
  background-position: 0 0;
}
.menu-bg.b {
  background-position: -200px 0;
}
.menu-bg.c {
  background-position: -400px 0;
}
.menu-bg.d {
  background-position: 0 -123px;
}
.menu-bg.e {
  background-position: -200px -123px;
}
.menu-bg.f {
  background-position: -400px -123px;
}

@media screen and (min-width: 767px) {
  .mobileClose {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .order.hide {
    display: unset;
    opacity: 0;
    & .total, & .btns {
      opacity: 0;
    }
    & .cart {
      opacity: 0;
      height: 0 !important;
    }
  }

  .mobileProductHeader {
    min-height: 100px;
    .content {
      height: 53px;
      overflow: hidden;
      padding: 0 10px;
    }
    .productPrice {
      background: #eee;
      border-radius: 14px;
      width: calc(100% - 24px);
      margin-left: 12px;
      text-align: center;
      padding: 10px 12px;
      font-weight: 500;
      bottom: 12px;
      position: absolute;
    }
    .price {
      display: flex;
      align-items: center;
      text-align: center;
      width: calc(100% - 24px);
      margin-left: 12px;
      bottom: 12px;
      position: absolute;
      justify-content: space-between;
      & .baba {
        background: #eee;
        font-size: 17px;
        padding: 10px 17px;
        border-radius: 12px;
        transition: ease-in-out all 50ms;
        &:active{
          box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
          transform: scale(0.990);
        }
      }
    }
  }

  .mobileClose {
    background: $brand;
    color: #fff;
    font-size: 28px;
    position: fixed;
    right: 7px;
    top: 10px;
    z-index: 4;
    padding: 0 11px;
    border-radius: 5px;
  }
}

.general-content.disabled {
  overflow: hidden;
  height: 0;
}
